@import "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 15px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

img {
  user-select: none;
}

body {
  background: $lightGray;
  display: grid;
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  place-content: center;
  article {
    background: $white;
    border-radius: 20px;
    box-shadow: 16px 21px 39px -26px rgba(0, 0, 0, 0.2);
    max-width: 320px;
    padding: 16px 16px 40px;
    text-align: center;
    img {
      border-radius: 10px;
      height: auto;
      margin-bottom: 21px;
      width: 100%;
    }
    h1 {
      color: $darkBlue;
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: -0.2px;
      line-height: 28px;
      margin: 0;
      margin-bottom: 15px;
    }
    p {
      color: $grayBlue;
      font-size: 1.05rem;
      letter-spacing: -0.2px;
      line-height: 19px;
      padding: 0 12px;
    }
  }
}

@import "media";
